<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Noise</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display&family=Cutive+Mono&family=Metal+Mania&family=Monoton&family=Rock+Salt&family=Tangerine&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a style= "font-family: 'Monoton', cursive;"id="main-title" href="/">Just Noise</a>
      </h1>

      <div class="genres">
        <a style="font-family: 'Big Shoulders Stencil Display', cursive" class="btn-no-style-genre" id="rock" href="/genre/rock"><i>🎶 Rock </i></a>
        <a style="font-family: 'Tangerine', cursive" class="btn-no-style-genre" id="classical" href="/genre/classical"><i>Classical </i></a>
        <a style= "font-family: 'Metal Mania', cursive "class="btn-no-style-genre" id="metal" href="/genre/metal"><i>Metal </i></a>
        <a style="font-family: 'Rock Salt', cursive; font-size: 16px" class="btn-no-style-genre" id="hip-hop" href="/genre/hiphop"><i>Hip-Hop </i></a>
        <a style= "font-family: 'Cutive Mono', monospace"class="btn-no-style-genre" id="folk" href="/genre/folk"><i>Folk</i></a>
        <a style= "font-family: 'Dancing Script', cursive"class="btn-no-style-genre" id="blues" href="/genre/blues"><i>Blues</i> 🎶</a>


        <nav>
        <a href="/">Home</a>
        {{#if loggedIn}}
        <a href="/dashboard">Dashboard</a>
        <button id="logout" class="btn-no-style logout-btn">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>

      </div>

    </header>
    <main>
      {{{body}}}
    </main>
    <footer>
      Keep the Peace! 🤗
    </footer>
  </div>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>